@model  ClassViewModel
<!--admin class view-->
@{
    //add, edit, and delete. 
    //determined by the action method name.
    var action = ViewContext.RouteData.Values["action"].ToString().Capitalize();

    ViewData["ClassTitle"] = $" | {action} Class";
}

<h1>@action Class</h1>

<form asp-action="@action" asp-area="Admin" method="post">

    <input type="hidden" asp-for="Class.ClassId" />

    <div class="form-group row">
        <div class="col-sm-2"><label>Class Title:</label></div>
        @if (Operation.IsDelete(action)) {
            <div class="col-sm-4"><label>@Model.Class.ClassTitle</label></div>
            <input type="hidden" asp-for="Class.ClassTitle" />
        }
        else {
            <div class="col-sm-4">
                <input type="text" asp-for="Class.ClassTitle" class="form-control" />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="Class.ClassTitle" class="text-danger"></span>
            </div>
        }
    </div>
    @if (!Operation.IsDelete(action))
    {
        <div class="form-group row">
            <div class="col-sm-2"><label>Number Of Credits:</label></div>
            <div class="col-sm-4">
                <input type="text" asp-for="Class.NumberOfCredits" class="form-control" />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="Class.NumberOfCredits" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2"><label>Class Type:</label></div>
            <div class="col-sm-4">
                <select asp-for="Class.ClassTypeId" class="form-control"
                    asp-items='@new SelectList(Model.ClassTypes, "ClassTypeId", "Name", Model.Class.ClassTypeId)'>
                </select>
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="Class.ClassTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <label>Teacher:</label><br />
            </div>
            <div class="col-sm-4">
                <select asp-for="SelectedTeachers" class="form-control"
                    asp-items='@new MultiSelectList(Model.Teachers, "TeacherId", "FullName", Model.SelectedTeachers)'>
                </select>
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="SelectedTeachers" class="text-danger"></span>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit" class="btn btn-primary">@action</button><!--submit button-->
            <a asp-action="@(Operation.IsAdd(action) ? "Index" : "Search")"
               class="btn btn-primary">Cancel</a><!--cancel button-->
        </div>
    </div>
</form>