@model Teacher

@{
    ViewData["ClassName"] = " | Teacher";
}

<h1>Teacher</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>@Model.FullName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (var ba in Model.ClassTeachers)
                {
                    <p>
                        <a asp-action="Details" asp-controller="Class"
                           asp-route-id="@ba.ClassId"
                           asp-route-slug="@ba.Class.ClassName.Slug()">
                            @ba.Class.ClassName
                        </a>
                    </p>
                }
            </td>
        </tr>
    </tbody>
</table>