@model Class
<!--home view-->
<header class="bg-dark text-white text-center">
    <h1 class="m-3 p-3">MyClasses</h1>
</header>
<div class="text-center">

    <br />
    <h4>Keep Track Of All Your: Classes, Teachers, Contacts</h4>
    <br />
    <h4>Create A Schedule Based On Class And Study Time</h4>
    <br />
    <h4>Shop For School Books On Our Online Bookstore</h4>
</div>
