@model Homework

<h2>New Homework</h2>
<!--add view-->
<div asp-validation-summary="ModelOnly" class="text-danger"><!--displays the model error message-->
</div>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="AssignmentName">Assignment:</label>
        <input type="text" asp-for="AssignmentName" class="form-control" placeholder="Enter Name For Homework">
        <span asp-validation-for="AssignmentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input type="text" asp-for="Description" class="form-control" placeholder="Add Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomeworkTypeId">Type:</label>
        <select asp-for="HomeworkTypeId" class="form-control" 
                asp-items="@(new SelectList(ViewBag.Sprints, "HomeworkTypeId", "Name"))">
            <option value="">Select Homework Type</option>
        </select>
        <span asp-validation-for="HomeworkTypeId" class="text-danger"></span>
    </div>

    <div class="form-group"> 
        <label asp-for="DueDate">Due Date:</label>
        <input type="text" asp-for="DueDate" class="form-control" placeholder="Enter A Date">
        <span asp-validation-for="DueDate" class="text-danger"></span><!--shows error message underneath input box-->
    </div>
    <div class="form-group">
        <label asp-for="PointValue">Point Value:</label>
        <input type="text" asp-for="PointValue" class="form-control" placeholder="Enter A Point Value">
        <span asp-validation-for="PointValue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StatusId">Status:</label>
        <select asp-for="StatusId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name"))">
            <option value="">Select A Status</option>
        </select>
        <span asp-validation-for="StatusId" class="text-danger"></span>
        
    </div>

    <button type="submit">Add</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

